.hasError{
    color: red;
}

#lastButton{
    /* position:absolute; 
    top:10%;
    left:50%*/
    left:50%;
}




#nextButton{
    /*
    position:absolute;
    top:10%;
    left:%*/
    margin-left:10px;
    
}

.invisible{
    display:none;
}

.nextLastButtons{
    
}